@import '../bower_components/bootstrap/less/variables.less';
@import '../bower_components/bootstrap/less/mixins.less';

// colors
@white: #fff;
@red: red;
@blue: #128fe0;
@blue2: #1a69a2;
@grad-blue-bottom: @blue2;
@grad-blue-top: @blue;

/* Globals */
html { height: 100%; }
body {	
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	min-height: 100%;
	background: url(/images/ui/bg/mooning-bg.jpg) repeat 0 0;
}
//html,body {overflow:auto;}
a:focus,
button:focus {
	outline: 0;
}

.page { 
	padding-top: 60px;
	position: relative;
	background: url(/images/ui/bg/mooning-bg.jpg) repeat 0 0;
}

.header.navbar {
	margin-bottom: 0;
}

#content {
	padding-top: 20px;
}

.hwd-navbar {
	.navbar-brand {
		font-family: 'Roboto Condensed';
		font-weight: bold;
		font-size: 28px;
		line-height: 1;
		border-left: 1px solid #fff;
		.transition(color .6s ease);
	
		span {
			font-size: .97em;
			word-spacing: -7px;
			font-family: 'Architects Daughter';
		}
		
		&:hover {
			color: lighten(@blue, 5%);
		}

	}

	.navbar-toggle {
		float: left;
		margin-left: 15px;
		border-radius: 0;
		padding: 20px;
		margin: 0;
		border-width: 0 1px 0 0;
		
		.icon-bar {
			height: 4px;
			width: 25px;
			background-color: @navbar-default-color;
		}
		
		.drawer-close {
			display: none;
			color: @navbar-default-color;
			height: 20px;
			width: 25px;
			font-size: 20px;
			vertical-align: middle;
			.transition(all 5s ease);
			.rotate(0deg);
		}

		&:hover,&:focus {
			background-color: #fff;

			.icon-bar {
				background-color: lighten(@blue,5%);
			}
			.drawer-close {
				color: lighten(@blue, 5%);
			}

		}
	}

}

.sitenav {

	.nav-icon {
		margin-right: 10px;
	}

	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	li {
		font-size: 1.2em;
		border-bottom: 1px solid #E6E6E6;
		
		a { font-family: 'Architects Daughter'; }

		&.home 				{  }	
		&.about 			{  }
		&.services 			{  }
		&.portfolio 		{  }
		&.testimonials 		{  }
		&.contact 			{  }

		// default 
		&.home a 			{  }
		&.about a 			{  }
		&.services a 		{  }
		&.portfolio a 		{  }
		&.testimonials a 	{  }
		&.contact a 		{  }

		// hover 
		&.home a:hover {  }
		&.about a:hover {  }
		&.services a:hover {  }
		&.portfolio a:hover {  }
		&.testimonials a:hover {  }
		&.contact a:hover {  }

	}

}

.snap-drawers {
	background: #222;
}

.hwd-drawer-heading {
	
	.well {
		padding: 10px;
		margin: 0;
		border: 0;
		min-height: 0;
		background-color: transparent;
	}
	
	a { 
		color: #fff; 
		&:hover { text-decoration: none; }
	}
	h1, h2 { line-height: 1; letter-spacing: 1px; }
	h1 { font-family: 'Roboto Condensed'; margin: 0 0 2px 0; }
	h2 { font-family: 'Architects Daughter'; margin: 0; }

}

.hwd-nav-drawer {
	.list-group-item {	
		font-size: 18px;
		font-family: 'Architects Daughter';
		background-color: transparent;
		border-color: rgba(0,0,0,0.2);
		border-width: 1px 0 1px 0;

		.nav-icon {
			margin-right: 10px;
		}

		a {
			color: #fff;

			&:hover { 
				text-decoration: none; 
			}
		}
		
		.nav-icon {
			-webkit-transition: margin-right 0.5s ease;
			-moz-transition: margin-right 0.5s ease;
			-o-transition: margin-right 0.5s ease;
			-ms-transition: margin-right 0.5s ease;
			transition: margin-right 0.5s ease;	
			margin-right:10px
		}

		.nav-arrow { float: right; }

		&:first-child, &:last-child {
			border-radius: 0;
		}
		
		&.active {
			background: @blue;
			a {
				color: #fff;
			}
			.nav-icon {
				margin-right: 20px;
			}
		}
	} 

}

.snapjs-left {

	.navbar-toggle {
	
		.icon-bar {
			display: none;
		}

		.drawer-close {
			display: block;
			.rotate(540deg);
		}
	}
}

.main {

	h2 {
		color: #F60;
		font-size: 2em;
		font-weight: bold;
		font-family: 'Roboto Condensed';
		margin-top: 0;
	}

}

.testimonial {
	margin-bottom: 20px; 
	padding: 40px 35px;
	position: relative;
	border: 4px solid #000;
	border-radius: 8px;
	background: #ccc url(/images/ui/buildings.png) no-repeat center -10px;

	h2 {
		color: #333;
		margin-bottom: 5px;
	}

	p {
		font-size: 0.85em;	
		line-height: 1.45;
		font-family: Verdana, Geneva, sans-serif;
	}

	a {
		color: #333;

		&:visted{ }	

		&:hover {
			color: #000;
		}

	}

	span.test_name {
		display: block;
		font-weight: bold;
		text-align: left;
		margin: 8px 0 0 20px;
	}

	img {
		position: absolute;
		right: 230px;
		top: 30px;
	}

}


.quote-entry {

	blockquote {
		font-style: italic;
		margin: 1em;

		&:before,
		&:after {
			content: '"';
		}

	}

	.quote-sig {
		text-align: right;
		margin-right: 40px;
		margin-top: -15px;
	}

}

.nails,
.notepad {
	position: relative;
	padding: 0 25px 25px 25px;
	margin-top: 50px;

	h2 {
		color: #333;
		font-family: 'Roboto Condensed';
		text-align: center;
		margin-bottom: 20px;
		padding-bottom: 5px;
		border-bottom: 1px dashed #333;
	}
	
	&:first-child {
		margin-top: 0;
	}
}

.nails {
	height: 355px;
	
	
	img {
		.size(175px, auto);
		margin: 0 auto;
		padding: 0;
		border: none;
	}

}

.panel.notepad {
	.box-shadow(~"0 0 4px rgba(0,0,0,.35)");
	background: #fff;
	position: relative;

	.rings {
		position: absolute;
		top: -19px; left: 0;
		.size(100%, 37px);	
		display: block;
		background: url(/images/ui/bg/notepad-bg.png) repeat-x center bottom;
	}


	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin-bottom: 15px;
		line-height: 1.3;
		font-size: 1.7em;
		font-family: 'Architects Daughter';
		text-transform: lowercase;

		[class^=glyphicon] {
			color: @red;
			margin-right: 15px;
		}
			
	}

}


footer {
	color: #fff;
	margin-top: 20px;
	background: @gray-dark;

	h3 {
		font-family: 'Roboto Condensed';
		padding-bottom: 15px;
		border-bottom: 1px solid #444;
		-webkit-box-shadow: 0 1px 0 #000;
		box-shadow: 0 1px 0 #000;
		margin-bottom: 30px;
	}

	a {
		color: #fff;
	}

	.copyright {
		font-size: 12px;
		line-height: 20px;
		text-transform: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.foot-nav {
		margin: 20px auto 10px auto;

		li {
			font: bold 11px/13px Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			margin: 0;
			float: left;

			a {
				font-weight: bold;
				font-size: 11px;
				line-height: 1.1;
				text-decoration: none;
				text-transform: uppercase;
				padding: 0 10px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	[class^=col-] {
		margin-bottom: 50px;
	}
	
	iframe {
		width: 100%;
	}

	.connect {
		margin-left: -8px;
		margin-right: -8px;
		.clearfix();

		li {
			float: left;

			a {
				line-height: 0;
				float: left;
				padding: 10px;
				margin: 0 8px 15px 8px;
				border-radius: 8px;
				#gradient > .vertical(@start-color: #ccc, @end-color: #555);

				&:hover {
					color: @white;
					text-decoration: none;
					
				}

				&:active {
					.box-shadow(inset 0 2px 3px rgba(0,0,0,0.55));
				}

				i {
					font-size: 20px;
					display: block;
					text-align: center;
				}

			}
			
			.social-facebook {
				#gradient > .vertical(@start-color: #3b5998, @end-color: darken(#3b5998, 20%));
				&:hover {  }
			}
			.social-linkedin {
				#gradient > .vertical(@start-color: #52A2CC, @end-color: darken(#52A2CC, 20%));
				&:hover {  }
			}
			.social-twitter {
				#gradient > .vertical(@start-color: #2daae1, @end-color: darken(#2daae1, 20%));
				&:hover {  }
			}
			.social-gplus {
				#gradient > .vertical(@start-color: #d23e2b, @end-color: darken(#d23e2b, 20%));
				&:hover {  }
			}
			.social-instagram {
				#gradient > .vertical(@start-color: #a67359, @end-color: darken(#a67359, 20%));
				&:hover {  }
			}
			.social-pinterest {
				#gradient > .vertical(@start-color: #cb2027, @end-color: darken(#cb2027, 20%));
				&:hover {  }
			}
			.social-skype {
				#gradient > .vertical(@start-color: #009ee2, @end-color: darken(#009ee2, 20%));
				&:hover {  }
			}
			.social-github {
				#gradient > .vertical(@start-color: #444, @end-color: darken(#444, 20%));
				&:hover {  }
			}
			.social-stackexchange {
				#gradient > .vertical(@start-color: #fe7a15, @end-color: darken(#fe7a15, 20%));
				&:hover {  }
			}
			.social-turntable {
				#gradient > .vertical(@start-color: #f3cc13, @end-color: darken(#f3cc13, 20%));
				&:hover {  }
			}

		}
	}

	.twitter-mod {
		height: auto;
		overflow: hidden;
	}

}


// Special Case Scenario
.address p {
	margin-bottom: 0;
}

.form {
	padding: 30px;
	background: #ececec;

	legend {
		color: #444;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.6em;
		font-weight: bold;
		text-transform: capitalize;
		letter-spacing: 0.1em;
		margin: 0 0 10px 0; padding: 0;
	}

	textarea {
		width: 100%; max-width: 100%;
		min-height: 200px;
		padding: 12px 15px;
		box-sizing: border-box;
		resize: vertical;
	}

	input.text:focus,
	textarea:focus {
		background-color: #e7efef;
	}

	select {
		font-size: 16px;
		text-indent: 10px;
		.size(300px, 40px);
		border: 1px solid #999;
	}

	p {
		color: #444;
		font-size: 15px;
	}

	.account {
		height: 120px;
	}

	.personal {
		height: 680px;
	}

	.user-info {
		margin-bottom: 20px;

		label {
			width: 150px;	
			display: inline-block;
			text-align: right;
			font-size: 20px;
		}

	}

	.user-questions {
		label {
			display: block;
			line-height: 1.4;

			&[for=service] {
				margin-bottom: 10px;
			}

		}
	}

}

.folio_block {
	margin: 20px 0;
	float: left;
	clear: both;
}

.main_view {
	.size(610px, 344px);
	float: left;
	padding: 25px;
	margin-right: 20px;
	position: relative;
	background: url(/images/main_view_bg.gif) no-repeat;
}

.window {
	.size(560px, 294px);
	overflow: hidden;
	position: relative;
}

.image_reel {
	position: absolute;
	top: 0; left: 0;

	a {
		position: relative;
		float: left;
		cursor: pointer;

		span {
			.size(560px, 294px);
			position: absolute;
			z-index: 10;
			top: 0; left: 0;
			background: #111 url(/images/icon_view.gif) no-repeat center;
		}

	}

	img {
		float: left;
		margin: 0; padding: 0;
		border: none;
	}

}

.paging {
	display: none; // visible w/ JS
	.size(178px, 47px);
	position: absolute;
	right: -3px; bottom: 40px;
	z-index: 50;
	text-align: center;
	line-height: 40px;
	background: url(/images/paging_bg.png) no-repeat;

	a {
		color: #fff;
		padding: 5px;
		text-decoration: none;

		&.active {
			font-weight: bold;
			background: #0075b1;
			border: 1px solid #005581;
			-moz-border-radius: 3px;
			-khtml-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}

		&:hover {
			font-weight: bold;
		}

	}

}

.desc {
	font-size: 14px;
	text-align: left;
	width: 280px;
	float: left;
	padding: 0;

	h2 {
		text-transform: uppercase;
		font-size: 24px; font-weight: normal;
		margin: 0 0 10px 0;
		padding: 0 0 2px 0;
		border-bottom: 1px solid #f0f0f0;
	}

	h3 {
		font-size: 18px;
		font-weight: bold;
		margin: 0; padding: 0;
	}

	a {
		color: #06f;
		font-size: 14px;
	}

	ul.servies {
		margin: 0 0 10px 0;
		padding: 0;
		list-style: none;

		li {
			list-style: none;
			margin: 0;
			padding: 3px 5px 3px 23px;
			background: url(/images/icon_check.gif) no-repeat left center;
		}

	}
}

.step p {
	margin-bottom: 10px;
}


/* Font Awesome - Radio/Checkbox buttons */
.fa-inputs {

	.btn-checkbox {
		border: none;
		background: none;
		font-size: 18px;
		font-family: 'Architects Daughter';
		letter-spacing: 1px;
		&:before {
			margin-right: 15px;
			display: inline-block;
			content: "\f10c";
			font-size: 22px;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		
		&.active {
			color: #1a69a2;
			&:before {
				content: "\f05d";
			}
		}

	}

	.list-group-item.selected {
		background: lighten(@blue, 10%);
		
		.btn-checkbox {
			width: 100%;
			text-align: left;

			&.active {
				color: #fff;
			}
		}
	} 

}


/* Utility Classes */
.clear {
	clear: both;
}

.view-container { position: relative; }
/* Animation Classes */


// }

// Spin
.spin {
	-webkit-transform-origin: 50% 50%;
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%; /* IE 9 */
	-webkit-animation: spin .5s alternate;
	-moz-animation: spin .5s alternate;
	-o-animation: spin .5s alternate;
	animation: spin .5s alternate;
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(180deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(180deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}



/* Media Queries */
@media (min-width: @screen-tablet) {
	.page {
		padding-top: 87px;
	}
	.navbar-brand {
		span {
			display: block;
			font-size: .75em;
		}
	}

	.sitenav {
		
		.nav-icon {
			display: block;
			margin: 0 auto 10px auto;
			font-size: 20px;
		}

		> .navbar-nav {

			> li {
				text-align: center;
				border-bottom: 0;
				height: 85px;

				> a {
					padding-bottom: 0;
					height: 100%;
					

					span,i {
						-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
						-o-transition: all 0.5s ease;
						-ms-transition: all 0.5s ease;
						transition: all 0.5s ease;	
						top: -1px;
						position: relative;
					}

					&:hover {
						color: lighten(@blue,10%);
						span,i {
							top: -4px;
						}
					}

				}
				
				&.active > a {
					color: @gray-dark;
					&:hover {
						color: @gray-dark;
						span,i {top: -1px;}
					}
				}

			}
		}
		

	}

	footer .col-sm-6 {
		min-height: 110px;
	}
}

@media (min-width: @screen-sm) and (max-width: @screen-sm-max) { 

	.sitenav {
		.nav-icon {
			font-size: 24px;
		}
		.nav > li > a {
			font-size: .97em;
		}
	}

}

@media (min-width: @screen-desktop) {
	.navbar-brand img {
		max-width: none;
	}
	.sitenav {
		.nav-icon {
			font-size: 24px;
		}
		
		li {

		}

		.nav > li > a {
			padding-top: 15px;
		}
	}

}

@media (min-width: @screen-lg-desktop) {
	.panel {
		
		&.notepad {
			
			.rings {
				width: 99%;
			}
		}
	}
}