@import '../bower_components/bootstrap/less/variables.less';
@import '../bower_components/bootstrap/less/mixins.less';
@import 'hwd-variables.less';

@grad-blue-bottom: #1a69a2;
@grad-blue-top: #128fe0;

.home-hero {
	.size(100%, auto);
	padding: 15px 0;
	.box-shadow(~"inset 0 -4 4px rgba(0,0,0,.35)");
	background-color: #128fe0;
	#gradient > .vertical(@start-color: @green; @end-color: @green2;);
	


	.h1 {
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
	}

}

/* Home Hero Slides */
#slides {
	position: relative;
}
#slides .slides-container {
	display: none;
}
#slides .scrollable {
	*zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}

.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	width: 100%;
}
.slides-navigation a {
	position: absolute;
	display: block;
}
.slides-navigation a.prev {
	left: 0;
}
.slides-navigation a.next {
	right: 0;
}

.slides-pagination {
	osition: absolute;
	-index: 3;
	ottom: 0;
	ext-align: center;
	idth: 100%;
}
.slides-pagination a {
	border: 2px solid #222;
	border-radius: 15px;
	width: 10px;
	height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
	margin: 2px;
	overflow: hidden;
	text-indent: -100%;
}
.slides-pagination a.current {
	background: #222;
}

.welcome-wrap {
	background: @green2;
}

.portfolio-wrap {
	background: rgba(255,255,255,0.4);
}

.testimonials-wrap {
	background: rgba(255,255,255,0.4);
}

.welcome {
	padding-top: 20px;
	.profile-pic {
		text-align: center;
		margin: 0 auto;
		float: none;
		
		
		img {
			width: 90%;
			height: auto;
			.clearfix();
		}

	}

	.heading {
		text-align: center;
		padding-bottom: 40px;
	}

	.border-btn {
		margin-top: 20px;
	}

}

.laptop {
	position: relative;
	margin-bottom: 30px;

	img {
		border: 0;
		margin: 0;
		padding: 0;
		min-width: 100%;
	}

	.laptop-bg {
		
	}

	.glare {
		.size(148px, 169px);
		position: absolute;
		top: 0; right: 0;
		z-index: 1000;
		background: transparent url(/images/laptop-glare.png) no-repeat 0 0;
		
	}

	.carousel-caption {
		padding: 0 0 20px 0;
		left: 0; right: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);

		> h3 {
			margin-bottom: 4px;
			margin-top: 10px;
		}

	}
	.carousel-indicators {
		bottom: 3px;
		margin-bottom: 0;
	}

}

@media (min-width: @screen-tablet) {
	
	.home-hero {
		height: 260px;
		border-bottom: 1px solid #c9c9c9;
	}

	.laptop {
		height: 390px;
		margin-bottom: 30px;

		.laptop-bg {
			position: absolute;
			z-index: 0;
			max-width: 100%;
		}

		.carousel {
			.size(495px, 310px);
			margin: 0 auto;
			top: 26px; left: 1px;
		}
		.carousel-inner > .item > img {
			height: 310px;
		}
	}

}


@media (min-width: @screen-desktop) {
	body { 
		
	}

	.navbar {
		.navbar-header {
			
		}
	}

	.content {
		margin-top: 30px;
	}

	.home-hero {
		position: relative;
		padding: 30px 0;
	}
	
	.laptop {
		height: 332px;
		margin-bottom: 30px;

		.laptop-bg {
			position: absolute;
			z-index: 0;
			max-width: 100%;
		}

		.carousel {
			.size(425px, 265px);
			margin: 0 auto;
			top: 22px; left: 0px;
		}
		.carousel-inner > .item > img {
			height: 265px;
		}
	}


}

@media (min-width: @screen-lg-desktop) {
	.laptop {
		height: 403px;
		margin-bottom: 30px;

		.laptop-bg {
			position: absolute;
			z-index: 0;
			max-width: 100%;
		}

		.carousel {
			.size(518px, 323px);
			margin: 0 auto;
			top: 27px; left: 1px;
		}
		.carousel-inner > .item > img {
			height: 322px;
		}
	}
}
