<section class="container">
	<h2>About Me</h2>
	<div class="row">
		<div class="col-xs-12">

			<h3>Education</h3>
			<ul class="list-unstyled">
				<li>California State Polytechnic University, Pomona</li>
				<li>Bachelor of Science in Business Administration</li>
				<li>Emphasis in Computer Information Systems</li>
				<li>Graduated: Winter 2008</li>
			</ul>

			<h3>Skills</h3>
			<h4>Programming</h4>
			<ul class="list-unstyled">
				<li>HTML</li>
				<li>CSS, LESS, SASS (or SCSS)</li>
				<li>JavaScript</li>
				<li>Angular</li>
				<li>jQuery</li>
				<li>Backbone</li>
				<li>Underscore (or LoDash)</li>
				<li>Bash (Terminal)</li>
				<li>Yeoman</li>
				<li>Grunt</li>
				<li></li>
				<li>Git (Github)</li>
				<li>PHP</li>
				<li>.NET</li>
			</ul>
			<h4>Software</h4>
			<ul class="list-unstyled">
				<li>Sublime Text</li>
				<li>Terminal</li>
				<li>Kaleidoscope</li>
				<li>Photoshop</li>
				<li>Slicy</li>
				<li>Tower</li>
				<li>Transmit</li>
				<li>CodeKit</li>
				<li>Visual Studio</li>
				<li>Alfred</li>
				<li>TextExpander</li>
				<li>Fireworks</li>
				<li>Illustrator</li>
			</ul>

			<h3>Hobbies</h3>
			<ul class="list-unstyled">
				<li>Gym</li>
				<li>Basketball</li>
			</ul>


		</div>
	</div>
</section>

