<!-- google maps 
<div id="map-canvas" class="hwd-map"></div>
-->

<section class="container">

	<h2 class="hdr page-title">Contact</h2>	
	
	<div class="row">
		
		<div class="col-md-8">
			
			<form name="contactForm" role="form" class="form form-contact" novalidate data-ng-submit="submit()">

				<fieldset>
					<legend>Please Send Your Contact Info</legend>
					<p class="lead">If you are interested in my services please fill out the form below and I will contact you as soon as possible.</p>
					<p class="text-right"><small>* <i> required fields</i></small></p>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group" data-ng-class="{'has-error': contactForm.userFirst.$invalid && contactForm.userFirst.$dirty}">
								<label for="userFirst">First Name *</label>
								<input type="text" name="userFirst" id="userFirst" class="form-control" data-ng-model="user.first" cu-focus required></input>
								<div class="validation-status">
									<i class="fa" data-ng-class="{'fa-frown-o':contactForm.userFirst.$invalid && contactForm.userFirst.$dirty && !contactForm.userFirst.$focused, 'fa-smile-o':contactForm.userFirst.$valid && contactForm.userFirst.$dirty && !contactForm.userFirst.$focused}"></i>
								</div>
								<p class="help-block" data-ng-show="contactForm.userFirst.$invalid && contactForm.userFirst.$dirty && !contactForm.userFirst.$focused">first name is required</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" data-ng-class="{'has-error': contactForm.userLast.$invalid && contactForm.userLast.$dirty}">
								<label for="userLast">Last Name *</label>
								<input type="text" name="userLast" id="userLast" class="form-control" data-ng-model="user.last" cu-focus required>
								<div class="validation-status">
									<i class="fa" data-ng-class="{'fa-frown-o':contactForm.userLast.$invalid && contactForm.userLast.$dirty && !contactForm.userLast.$focused, 'fa-smile-o':contactForm.userLast.$valid && contactForm.userLast.$dirty && !contactForm.userLast.$focused}"></i>
								</div>
								<p class="help-block" data-ng-show="contactForm.userLast.$invalid && contactForm.userLast.$dirty && !contactForm.userLast.$focused">last name is required</p>
							</div>
						</div>
					</div><!-- /.row --> 
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group" data-ng-class="{'has-error': contactForm.userEmail.$invalid && contactForm.userEmail.$dirty}">
								<label for="userEmail">Email *</label>
								<input type="email" name="userEmail" id="userEmail" class="form-control" data-ng-model="user.email" cu-focus required>
								<div class="validation-status">
									<i class="fa" data-ng-class="{'fa-frown-o':contactForm.userEmail.$invalid && contactForm.userEmail.$dirty && !contactForm.userEmail.$focused, 'fa-smile-o':contactForm.userEmail.$valid && contactForm.userEmail.$dirty && !contactForm.userEmail.$focused}"></i>
								</div>
								<p class="help-block" data-ng-show="contactForm.userEmail.$invalid && contactForm.userEmail.$dirty && !contactForm.userEmail.$focused">wrong email.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" data-ng-class="{'has-error': contactForm.userPhone.$invalid && contactForm.userPhone.$dirty}">
								<label for="userPhone">Phone</label>
								<input type="tel" name="userPhone" id="userPhone" class="form-control" data-ng-model="user.phone" data-ui-mask="(999) 999-9999" cu-focus>
								<div class="validation-status">
								<i class="fa" data-ng-class="{'fa-frown-o':contactForm.userPhone.$invalid && contactForm.userPhone.$dirty && !contactForm.userPhone.$focused, 'fa-smile-o':contactForm.userPhone.$valid && contactForm.userPhone.$dirty && !contactForm.userPhone.$focused}"></i>
								</div>
								<p class="help-block" data-ng-show="contactForm.userPhone.$invalid && contactForm.userPhone.$dirty && !contactForm.userPhone.$focused">wrong phone.</p>
							</div>
						</div>
					</div><!-- /.row --> 
				</fieldset>

				<fieldset>
					<legend>Tell me about your project</legend>
					<div class="form-group">
						<label for="serviceType">Please select the services you are interested in:</label>
						<ul class="list-group fa-inputs">
							<li class="list-group-item" data-ng-class="{'selected': service.selected}" data-ng-repeat="service in interestedServices">
								<button type="button" class="btn-checkbox" ng-model="service.selected" btn-checkbox>{{service.label}}</button>		
							</li>
						</ul>
					</div>
					<div class="form-group" data-ng-show="otherInterestedServiceMode()">
						<label for="otherServiceType">Tell me about the service you are interested in: <small>(optional)</small></label>
						<textarea id="otherServiceType" class="form-control" name="otherServiceType"></textarea>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">
								<label for="numPages">How many pages will your site have?</label>
								<select name="numPages" id="numPages" ui-jq="selectpicker" class="form-control selectpicker">
									<option value="">please choose one...</option>
									<option value="5">1 to 5 pages</option>
									<option value="10">6 to 10 pages</option>
									<option value="15">11 to 20 pages</option>
									<option value="20">20+ pages</option>
								</select>
							</div>
							<div class="col-sm-6">
								<label for="budget">What is your budget for this project?</label>
								<select name="budget" id="budget" ui-jq="selectpicker" class="form-control selectpicker">
									<option value="">please choose one...</option>
									<option value="500">less than $1000</option>
									<option value="1000">$1000 to $2,000</option>
									<option value="2500">$2,000 to $5000</option>
									<option value="4000">$5000+</option>
								</select>
							</div>
						</div>
						
					</div>
					<div class="form-group">
						<label for="comments">Message: <small>(optional)</small></label>
						<textarea name="comments2" id="comments" class="form-control"></textarea>
					</div>
				</fieldset>
				
				<fieldset>
					<legend>Schedule a Meeting</legend>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group" data-ng-class="{'has-error': contactForm.userPhone.$invalid && contactForm.userPhone.$dirty}">
								<label for="userPhone2">Phone</label>
								<input type="tel" name="userPhone" id="userPhone2" class="form-control" data-ng-model="user.phone" data-ui-mask="(999) 999-9999" cu-focus>
								<div class="validation-status">
								<i class="fa" data-ng-class="{'fa-frown-o':contactForm.userPhone.$invalid && contactForm.userPhone.$dirty && !contactForm.userPhone.$focused, 'fa-smile-o':contactForm.userPhone.$valid && contactForm.userPhone.$dirty && !contactForm.userPhone.$focused}"></i>
								</div>
								<p class="help-block" data-ng-show="contactForm.userPhone.$invalid && contactForm.userPhone.$dirty && !contactForm.userPhone.$focused">wrong phone.</p>
							</div>
							<div class="form-group">
								<p class="input-group input-group-datepicker">
									<input type="text" class="form-control" datepicker-popup="{{format}}" datepicker-mode="month" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
							</div>
						</div>
					</div>
				</fieldset>

				<div class="btn-wrap text-right">
					<button class="btn btn-primary btn-3d big btn-submit btn-lg" data-ng-disabled="contactForm.$invalid"><span><span>Submit</span></span></button>
				</div>

			</form>

		</div>

		<div class="col-md-4">
			<!-- <sidebar></sidebar> -->
		</div>

	</div><!-- /.row --> 

</section><!-- /.container --> 