  
<div class="home-hero">
	<div class="container">
		<h2 class="hdr h1">Updating my site...coming soon?</h2>
		<div class="row">
		
		</div>
	</div>
</div><!-- /.home-hero -->


<section id="content">
	
	<div class="welcome-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="welcome clearfix">
						<h2 class="hdr page-title">Welcome!</h2>
						<p class="lead">I'm mostly using this site as a <em>resume</em> to demonstrate my skills as a UI Developer. In addition, this site will be used as a <em>sandbox</em> for front end web development...and possibly more. What does that entail? I'm not sure yet, but I'll figure it out as I go.</p>
					</div> <!-- End .welcome -->
				</div>
			</div>
		</div>
	</div>

	<div class="portfolio-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="portfolio-slideshow">
						<h2 class="hdr">Portfolio</h2>
						<div class="laptop">
						
							<!-- <span class="glare"></span> -->
							<div class="laptop-bg hidden-xs">
								<img class="img-responsive" src="/images/ui/macbook.png" alt="Macbook Pro">
							</div>
							<div id="laptop-carousel">

								<carousel interval="slideInterval">
									<slide data-ng-repeat="slide in slides" active="slide.active">
										<img data-ng-src="{{slide.img}}" alt="{{slide.imgAlt}}" style="margin:auto;" />
										<div class="carousel-caption">
											<h3>{{slide.caption}}</h3>
										</div>
									</slide>
								</carousel>
							
							</div><!-- /.carousel -->
						
						</div><!-- /.laptop -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="testimonials-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="testimonials">
						<h2>Testimonials</h2>
						<carousel interval="slideInterval">
							<slide data-ng-repeat="testimonial in testimonials" active="testimonial.active">
								<div class="testimonial">
									<blockquote class="text-left">
										<p><span class="fa fa-quote-left"></span> {{testimonial.quote}} <span class="fa fa-quote-right"></span></p>
										<p class="author">{{testimonial.author}}</p>
									</blockquote>
								</div>
							</slide>
						</carousel>
					</div> <!-- End .testimonials -->
				</div>
			</div>
		</div>
	</div>
	
</section><!-- /.content -->
