<section id="homeHero" class="home-hero">
	<div id="slides">
		<div class="overlay"></div>
		<div class="slides-container">
			<!--Slides-->
			<img src="images/slides/1.jpg" alt="1">
			<img src="images/slides/2.jpg" alt="2">
			<img src="images/slides/3.jpg" alt="3">
			<!--Slides-->
		</div>
		<nav class="slides-navigation">
			<a href="#" class="next"></a>
			<a href="#" class="prev"></a>
		</nav>
		<div class="welcome-message">
			<div class="heading">
				<p>HI, I'M CHAD HARRINGTON</p>
				<p class="small">Sr. UI Developer from California</p>
			</div>
			<a href="#home" class="border-btn scrollto">MORE ABOUT ME</a>
		</div>
	</div>
</section>

<section id="content">

	<div class="welcome-wrap">
		<div class="container welcome">
			
			<div class="col-xs-6 col-md-4 profile-pic">
				<img src="images/chad-harrington.jpg" alt="me" class="img-circle">
			</div>
			<div class="heading">
				<h1 class="hdr page-title">Chad Harrington</h1>
				<h3>Sr. UI Developer - Designer - Lorem Ipsum</h3>
				<a href="" class="border-btn">DOWNLOAD RESUME</a>
			</div>
		</div>
	</div>

	<div class="portfolio-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="portfolio-slideshow">
						<h2 class="hdr">Portfolio</h2>
						<div class="laptop">
						
							<!-- <span class="glare"></span> -->
							<div class="laptop-bg hidden-xs">
								<img class="img-responsive" src="/images/ui/macbook.png" alt="Macbook Pro">
							</div>
							<div id="laptop-carousel">

								<carousel interval="slideInterval">
									<slide data-ng-repeat="slide in slides" active="slide.active">
										<img data-ng-src="{{slide.img}}" alt="{{slide.imgAlt}}" style="margin:auto;" />
										<div class="carousel-caption">
											<h3>{{slide.caption}}</h3>
										</div>
									</slide>
								</carousel>
							
							</div><!-- /.carousel -->
						
						</div><!-- /.laptop -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="testimonials-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="testimonials">
						<h2>Testimonials</h2>
						<carousel interval="slideInterval">
							<slide data-ng-repeat="testimonial in testimonials" active="testimonial.active">
								<div class="testimonial">
									<blockquote class="text-left">
										<p><span class="fa fa-quote-left"></span> {{testimonial.quote}} <span class="fa fa-quote-right"></span></p>
										<p class="author">{{testimonial.author}}</p>
									</blockquote>
								</div>
							</slide>
						</carousel>
					</div> <!-- End .testimonials -->
				</div>
			</div>
		</div>
	</div>
	
</section><!-- /.content -->
