<div class="hwd-footer">
	<div class="container">
	<div class="row">
		
		<div class="col-md-4 col-sm-6">
			<h3>About</h3>
			<p>A brief little blurb about me goes here...</p>
		</div>
		
		<div class="col-md-4 col-sm-6">
			<div class="social-net">
				
				<h3>Connect</h3>
				<ul class="connect">
					<li>
						<a href="https://www.facebook.com/chad.alan.harrington" class="social-facebook">
							<i class="fa fa-facebook fa-fw"></i>
							<span class="sr-only">Facebook</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/chadh81" class="social-twitter">
							<i class="fa fa-twitter fa-fw"></i>
							<span class="sr-only">Twitter</span>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/chadalanharrington" class="social-linkedin">
							<i class="fa fa-linkedin fa-fw"></i>
							<span class="sr-only">Linked In</span>
						</a>
					</li>
					<li>
						<a href="https://plus.google.com/+ChadHarrington81" class="social-gplus">
							<i class="fa fa-google-plus fa-fw"></i> 
							<span class="sr-only">Google+</span>
						</a>
					</li>
					<li>
						<a href="https://github.com/chad-harrington" class="social-github">
							<i class="fa fa-github-alt fa-fw"></i> 
							<span class="sr-only">Github</span>
						</a>
					</li>
					<li>
						<a href="http://stackoverflow.com/users/2026819/chad" class="social-stackexchange">
							<i class="fa fa-stack-overflow fa-fw"></i> 
							<span class="sr-only">StackExchange</span>
						</a>
					</li>
					<li>
						<a href="http://instagram.com/chadalanharrington/" class="social-instagram">
							<i class="fa fa-instagram fa-fw"></i> 
							<span class="sr-only">Instagram</span>
						</a>
					</li>
					<li>
						<a href="http://www.pinterest.com/chadh81/" class="social-pinterest">
							<i class="fa fa-pinterest fa-fw"></i> 
							<span class="sr-only">Pinterest</span>
						</a>
					</li>
				</ul><!-- /.connect --> 

			</div><!-- /.social-net --> 
		</div>
		<div class="col-md-4 col-sm-12 twitter-mod">
			<div>
				<h3>@chadh81</h3>
				<div class="">
					<a class="twitter-timeline" href="https://twitter.com/chadh81" data-widget-id="373587935964061697">Tweets by @chadh81</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
		</div>

	</div><!-- /.row --> 
	
	<hr>

	<div class="row">
		
		<div class="col-md-12">
		
			<p class="copyright text-center">&copy; 2014 Harrington Web Desgin</p>
			
		</div>
		
	</div><!-- /.row -->

</div>
</div>