<div class="hwd-footer">
	<div class="container">
	<div class="row">
		
		<div class="col-md-4 col-sm-6">
			<h3>About</h3>
			<p>A brief little blurb about me goes here...</p>
		</div>
		
		<div class="col-md-4 col-sm-6">
			<div class="social-net">
				
				<h3>Connect</h3>
				<ul class="connect">
					<li>
						<a href="#" class="social-facebook">
							<i class="fa fa-facebook fa-fw"></i>
							<span>Facebook</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-twitter">
							<i class="fa fa-twitter fa-fw" ></i>
							<span>Twitter</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-linkedin">
							<i class="fa fa-linkedin fa-fw"></i> 
							<span>Linked In</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-gplus">
							<i class="fa fa-google-plus fa-fw"></i> 
							<span>Google+</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-instagram">
							<i class="fa fa-instagram fa-fw"></i> 
							<span>Instagram</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-pinterest">
							<i class="fa fa-pinterest fa-fw"></i> 
							<span>Pinterest</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-skype">
							<i class="fa fa-skype fa-fw"></i> 
							<span>Skype</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-github">
							<i class="fa fa-github-alt fa-fw"></i> 
							<span>Github</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-stackexchange">
							<i class="fa fa-stack-overflow fa-fw"></i> 
							<span>StackExchange</span>
						</a>
					</li>
					<li>
						<a href="#" class="social-turntable">
							<i class="fa fa-headphones fa-fw"></i> 
							<span>Turntable</span>
						</a>
					</li>
				</ul><!-- /.connect --> 

			</div><!-- /.social-net --> 
		</div>
		<div class="col-md-4 col-sm-12 twitter-mod">
			<div>
				<h3>@chadh81</h3>
				<div class="">
					<a class="twitter-timeline" href="https://twitter.com/chadh81" data-widget-id="373587935964061697">Tweets by @chadh81</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
		</div>

	</div><!-- /.row --> 
	
	<div class="row">
		
		<div class="col-md-12">
		
		  <ul class="foot-nav clearfix">
			<li><a href="index.php">Home</a>|</li>
			<li><a href="about.php">About Me</a>|</li>
			<li><a href="services.php">Services</a>|</li>
			<li><a href="portfolio.php">Portfolio</a>|</li>
			<li><a href="testimonials.php">Testimonials</a>|</li>
			<li><a href="contact.php">Contact</a></li>
		  </ul>
		  <p class="copyright">&copy; 2013 Harrington Web Desgin</p>
		  
		</div>
		
	  </div><!-- /.row -->

</div>
</div>