<div class="footer">
	<div class="row">
		<div class="col-sm-3">
			<h2>Title 1<span class="fa"></span></h2>
			<ul>
				<li><a href="">Link 1</a></li>
				<li><a href="">Link 2</a></li>
				<li><a href="">Link 3</a></li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h2>Title 2<span class="fa"></span></h2>
			<ul>
				<li><a href="">Link 1</a></li>
				<li><a href="">Link 2</a></li>
				<li><a href="">Link 3</a></li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h2>Title 3<span class="fa"></span></h2>
			<ul>
				<li><a href="">Link 1</a></li>
				<li><a href="">Link 2</a></li>
				<li><a href="">Link 3</a></li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h2>Title 4<span class="fa"></span></h2>
			<ul>
				<li><a href="">Link 1</a></li>
				<li><a href="">Link 2</a></li>
				<li><a href="">Link 3</a></li>
			</ul>
		</div>
	</div>
</div>