<div class="header navbar navbar-default navbar-fixed-top hwd-navbar">
	<div class="container">
		
			
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">

		<button type="button" class="navbar-toggle" data-snap-toggle="left">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="glyphicon glyphicon-remove drawer-close spin"></span>
		</button>

		<!-- <h3 class="text-muted navbar-brand hwd-brand">HWD</h3> -->
		<a class="navbar-brand hwd-brand fadeInDown animated" href="/">
			Harrington
			<span>Web Design</span>
		</a>

	</div><!-- /.navbar-header -->

	<nav class="sitenav hidden-xs">

		<ul class="nav navbar-nav fadeInRight animated">
			<li data-ng-class="{active:isActive('/{{item.linkUrl}}')}" data-ng-repeat="item in navData"><a data-ng-href="/#/{{item.linkUrl}}">
				<span class="nav-icon glyphicon {{item.icon}}"></span>
				{{item.linkText}}
			</a></li>

			<!-- 
			<li data-ng-class="{active:isActive('/about')}"><a ng-href="/#/about">
				<span class="nav-icon glyphicon glyphicon-user"></span>
				About
			</a></li>
			-->
		</ul>
	</nav><!-- .sitenav --> 
	</div>
</div><!-- /.header.navbar.navbar-fixed-top --> 
