<div class="header navbar navbar-default navbar-fixed-top">
		
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sitenav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- <h3 class="text-muted navbar-brand hwd-brand">HWD</h3> -->
		<a class="navbar-brand hwd-brand" href="/">
			Harrington
			<span>Web Design</span>
		</a>

	</div><!-- /.navbar-header -->

	<nav class="collapse navbar-collapse sitenav">
		<ul class="nav navbar-nav">
			<!-- <li data-ng-class="{active:isActive('/')}"><a ng-href="#">
				<span class="nav-icon glyphicon glyphicon-home"></span>
				Home
			</a></li> -->
			<li data-ng-class="{active:isActive('/about')}"><a ng-href="/#/about">
				<span class="nav-icon glyphicon glyphicon-user"></span>
				About
			</a></li>
			<li data-ng-class="{active:isActive('/services')}"><a ng-href="/#/services">
				<span class="nav-icon glyphicon glyphicon-cog"></span>
				Services
			</a></li>
			<li data-ng-class="{active:isActive('/portfolio')}"><a ng-href="/#/portfolio">
				<span class="nav-icon glyphicon glyphicon-briefcase"></span>
				Portfolio
			</a></li>
			<li data-ng-class="{active:isActive('/contact')}"><a ng-href="/#/contact">
				<span class="nav-icon glyphicon glyphicon-send"></span>
				Contact
			</a></li>
		</ul>
	</nav><!-- .navbar-collapse --> 

</div><!-- /.header.navbar.navbar-fixed-top --> 
