<aside id="sidebar">

	<div class="panel notepad">
		
		<h2>Services</h2>

		<ul class="list-services icons-ul">
			<li><i class="glyphicon glyphicon-ok"></i>abc</li>
			<li><i class="glyphicon glyphicon-ok"></i>123</li>
			<li><i class="glyphicon glyphicon-ok"></i>baby you and me</li>
			<li><i class="glyphicon glyphicon-ok"></i>girl</li>
		</ul>

		<a class="btn btn-primary btn-lg" href="services.php">read more</a>

		<div class="rings"></div>

	</div>

	<div class="panel notepad">
		
		<h2>Skills</h2>
		
		<ul class="list-skills icons-ul">
			<li data-ng-repeat="skill in skills">
				<i class="glyphicon glyphicon-ok"></i>
				{{skill.type}}
				
			</li>
		</ul>

		<div class="rings"></div>
		
	</div>

</aside> <!-- End of aside -->