<aside id="sidebar">

	<div class="panel notepad">
		
		<h2>Services</h2>

		<ul class="list-services icons-ul">
			<li data-ng-repeat="service in services">
				<i class="glyphicon glyphicon-ok"></i>
				{{service.name}}
			</li>
		</ul>

		<a class="btn btn-primary btn-lg" href="/#/services">read more</a>

		<div class="rings"></div>

	</div>

	<div class="panel notepad">
		
		<h2>Skills</h2>
		
		<div data-ng-repeat="skill in skills | filter: { category:'programming' }">
			<h3>{{skill.category}}</h3>
			<ul class="list-skills icons-ul">
				<li data-ng-repeat="item in skill.items">
					<i class="glyphicon glyphicon-ok"></i>
					{{item.type}}
				</li>
			</ul>
		</div>

		<div class="rings"></div>
		
	</div>

</aside> <!-- End of aside -->